@charset "utf-8";

// Import a Google Font
@import url('https://fonts.googleapis.com/css?family=Nunito:400,700');

// Set your brand colors
$purple: #8A4D76;
$pink: #FA7C91;
$brown: #757763;
$beige-light: #D0D1CD;
$beige-lighter: #EFF0EB;

// Update Bulma's global variables
$family-sans-serif: "Nunito", sans-serif;
$grey-dark: darkgrey;
$grey-light: #F8F8F8;
$primary: $pink;
$link: $pink;
$widescreen-enabled: false;
$fullhd-enabled: false;

// Update some of Bulma's component variables
$body-background-color: white;
$control-border-width: 2px;
$input-border-color: transparent;
$input-shadow: $grey-light;

i:hover {
    color: $pink;
}
.link:hover {
    color: $pink
}
.commentContainer:hover, .replies:hover{
    background-color: $grey-light;
}
.commentContainer{
    padding: 0px 15px;
    border-radius: 15px;
    margin-bottom: 50px;
}

.repoImage{
    max-width: 80%;
    max-height: 80%;
    margin: auto;
}
@media(max-width: 700){
    .repoImage{
        max-width: 100%;
        max-height: 100%;
        
    }
}
.replies{
    background-color: inherit;
}
.App{
    min-height: 100vh;
}
.mainContainer{
    min-height: 100vh;
}


@import '../../node_modules/bulma/bulma';
